/* Clases generales */

body {
  background: #f7b617;
}

h1 {
  margin: 0 0 1em 0;
}

hr {
  width: 8em;
  display: inline-flex;
}
.primary {
  background: #f7b617;
}

/* Estilo para el boton de menú mobile */
.navbar-toggle {
  float: left;
}

/* Estilo para el alto del nav */
.navbar {
  min-height: 80px;
}
.navbar-nav {
    float: right;
}

/* Estilos de imágen de fondo 1 */
.img-back {
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 60em;
}

/* Estilos de la sección de login*/
.box-login {
  color: #FFF;
  margin-top: 15em;
  padding: 2em;
}

/* Estilo logo blanco */
.logo{
  width: 5em;
}

.box {
  display: inline-block;
  width: 5em;
  height: auto;
  padding: 0 1em 0 1em;
}

/* Estilos sección New App */
.new-app{
  border: .1em solid #FFF;
  color: #FFF;
  height: auto;
  margin: 2em 0 2em 0;
}

/* Estilos sección de registro conductores */
.img-back2{
  background-image: url(../assets/images/conduce.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: auto;
}
.box-driver{
  color: #FFF;
  background-color: rgba(5, 5, 5, 0.50);
  padding: 5em 2em 2em 2em;
  margin-bottom: 20em;
}
.btn-primary{
  background-color: #f7b617;
  border-color: #ac8705;
}

/* Sección de tarifas */

.input-group-addon {
  background-color: #f7b617;
  border: none;
}
.form-control {
  background-color: #f7b617;
  color: #FFF;
  border: 1px solid #FFF;
}

/* Estilos sección de tarifas */
.tarifa {
  margin: 5em 0 10em 5em;
  color: #FFF;
}
